

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <i class="fab fa-twitter footer-contact"></i>
    <i class="fab fa-facebook-f footer-contact"></i>
    <i class="fab fa-instagram footer-contact"></i>

      <p class="copyright">© PayMate India 2021</p>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/897f65759d.js" crossorigin="anonymous"></script>
</body>
</html>