<%-include("header.ejs")-%>

<div class="success-main">
    <i class="fas fa-check-circle success-img"></i>

    <h1 class="success-h1">Successfully Paid!</h1>
</div>

<script>
    setTimeout(function () {
       window.location = "/customers";
    }, 3000);
</script>

<%-include("footer.ejs")-%>